<div class="mobile-collection-bar">
  <ul>

    <li>
      <a href="/collections/yeniler">New In</a>
    </li>

    <li>
      <a href="/collections/cok-satanlar">Bestsellers</a>
    </li>

    <li>
      <a href="/collections/gomlek">Shirts</a>
    </li>

    <li>
      <a href="/collections/tunik">Tunics</a>
    </li>

    <li>
      <a href="/collections/etek">Skirts</a>
    </li>

    <li>
      <a href="/collections/sweatshirt">Sweatshirts</a>
    </li>

    <li>
      <a href="/collections/triko">Knitwear</a>
    </li>

    <li>
      <a href="/collections/elbise">Dresses</a>
    </li>

  </ul>
</div>