<div id="swiper-collection-list" class="swiper-container swiper-container-horizontal" style="margin-top: 70px; margin-bottom: 10px;">
  <div class="swiper-wrapper">
    <div class="swiper-slide{% if collection.handle  == 'yeniler'%} active{% endif %}">
      <a href="/collections/yeniler">Yeniler</a>
    </div>
    <div class="swiper-slide{% if collection.handle  == 'indirim'%} active{% endif %}">
      <a href="/collections/indirim">İndirim</a>
    </div>
	<div class="swiper-slide{% if collection.handle  == 'gomlek'%} active{% endif %}">
      <a href="/collections/gomlek">Gömlek</a>
    </div>
    <div class="swiper-slide{% if collection.handle  == 'bluz'%} active{% endif %}">
      <a href="/collections/bluz">Bluz</a>
    </div>
    <div class="swiper-slide{% if collection.handle  == 'mont'%} active{% endif %}">
      <a href="/collections/mont">Mont</a>
    </div>
	<div class="swiper-slide{% if collection.handle  == 'ceket'%} active{% endif %}">
      <a href="/collections/ceket">Ceket</a>
    </div>
	<div class="swiper-slide{% if collection.handle  == 'elbise'%} active{% endif %}">
      <a href="/collections/elbise">Elbise</a>
    </div>
    <div class="swiper-slide{% if collection.handle  == 'etek'%} active{% endif %}">
      <a href="/collections/etek">Etek</a>
    </div>
	<div class="swiper-slide{% if collection.handle  == 'esofman'%} active{% endif %}">
      <a href="/collections/esofman">Eşofman</a>
    </div>
	<div class="swiper-slide{% if collection.handle  == 'pantolon'%} active{% endif %}">
      <a href="/collections/pantolon">Pantolon</a>
    </div>
	<div class="swiper-slide{% if collection.handle  == 'sweatshirt'%} active{% endif %}">
      <a href="/collections/sweatshirt">Sweatshirt</a>
    </div>
	<div class="swiper-slide{% if collection.handle  == 'disgiyim'%} active{% endif %}">
      <a href="/collections/disgiyim">Dış Giyim</a>
    </div>
	<div class="swiper-slide{% if collection.handle  == 'takimlar'%} active{% endif %}">
      <a href="/collections/takimlar">Takımlar</a>
    </div>
	<div class="swiper-slide{% if collection.handle  == 'trenckot'%} active{% endif %}">
      <a href="/collections/trenckot">Trençkot</a>
    </div>
	<div class="swiper-slide{% if collection.handle  == 'triko'%} active{% endif %}">
      <a href="/collections/triko">Triko</a>
    </div>
	<div class="swiper-slide{% if collection.handle  == 'tulum'%} active{% endif %}">
      <a href="/collections/tulum">Tulum</a>
    </div>
	<div class="swiper-slide{% if collection.handle  == 'tunik'%} active{% endif %}">
      <a href="/collections/tunik">Tunik</a>
    </div>
	<div class="swiper-slide{% if collection.handle  == 'yelek'%} active{% endif %}">
      <a href="/collections/yelek">Yelek</a>
    </div>
	<div class="swiper-slide{% if collection.handle  == 'sal'%} active{% endif %}">
      <a href="/collections/sal">Şal</a>
    </div>
  </div>
</div> 