<a name="pagecontent" id="pagecontent"></a>

<div class="sixteen columns page">
  {% capture pmc_content %}{{ page.content }}{% endcapture %}{% include 'page-multi-column', content: pmc_content %}
</div>